@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&family=Source+Serif+Pro:ital@1&display=swap");

html body {
    font-family: "Source Sans Pro";
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

:focus {
    outline: none;
}

::selection {
    background: transparent;
    filter: invert(1);
}

#bkg {
    height: 100%;
    background-image: url("bkg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 10em;
    font-weight: bold;
    display: grid;
    align-content: center;
    box-sizing: border-box;
    user-select: none;
}

#bkg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.8;
    mix-blend-mode: multiply;
    background: radial-gradient(transparent 10, black);
}

#container {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

#container > * {
    min-width: 25vw;
}

.vert {
    display: flex;
    flex-direction: column;
}

#icontainer {
    position: relative;
    top: -0.7em;
    height: 0.35em;
}

.s {
    font-size: 0.5em;
}

#scale {
    top: -0.12em;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 0.3em;
    outline: solid 0.02em rgba(255, 255, 255, 1);
    outline-offset: -0.015em;
    background: repeating-linear-gradient(
        45deg,
        rgb(121, 101, 84) 0px,
        rgb(121, 101, 84) 20px,
        rgb(134, 112, 82) 20px,
        rgb(134, 112, 82) 40px
    );
    /* background: linear-gradient(rgb(189, 168, 154), rgb(199, 191, 173) 30%, rgb(189, 168, 154)); */
    border-radius: 1em;
    box-shadow: 0 0em 0.1em rgba(228, 207, 114, 0.993), 0 0em 0.3em rgba(251, 173, 46, 0.993);
    padding: 0.05em;
}

@keyframes toRight {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 400px;
    }
}

#scale::before {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(
        rgba(44, 41, 32, 0.589),
        rgba(77, 48, 30, 0.438),
        rgba(90, 60, 19, 0.342),
        rgba(83, 50, 28, 0.459),
        rgba(61, 53, 33, 0.561)
    ); */
    content: "";
}

#liquid::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(255, 240, 198, 0.8),
        rgba(216, 88, 2, 0.24),
        rgba(255, 240, 208, 0.548),
        rgba(216, 87, 2, 0.459),
        rgba(255, 240, 198, 0.8)
    );
    content: "";
}

#liquid {
    animation: toRight 3s infinite linear;
    overflow: hidden;
    position: relative;
    height: 100%;
    background: repeating-linear-gradient(45deg, red 0px, red 20px, white 20px, white 40px);
    /* box-shadow:0 0 0.5em rgb(255, 126, 126) ; */
    border-radius: 1em;
}

.t {
    font-weight: lighter;
}

#card {
    display: none;
    position: relative;
    /* top:calc(50vh - 2em); */
}

#letter {
    text-shadow: 0 0 0.1em rgb(255, 244, 95), 0 0 1em rgb(255, 141, 35);
    font-family: "Source Serif Pro";
    font-size: 0.3em;
    position: absolute;
    top: 0;
    color: rgb(255, 246, 195);
    padding: 1.75em;
}

#ccard {
    /* mix-blend-mode:screen; */
    opacity: 0.9;
    filter: saturate(1) contrast(0.4) brightness(1.3) drop-shadow(0 0em 0.1em rgba(228, 207, 114, 0.993))
        drop-shadow(0 0em 0.3em rgba(251, 173, 46, 0.993));
}
